{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<h1>Contact Seller</h1>
{% for row in contact %}
    <p>Interested in buying {{ row.product }} for a handy price of ${{ row.price }}? Use the contact information below to get in touch with the seller.</p>
    <hr>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>Seller's Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.number }}</td>
        </tr>
    </table>
{% endfor %}
<h2>Back to Store <a href="/store">main page</a></h2>
{% endblock %}