{% extends "layout.html" %}

{% block title %}
    Items
{% endblock %}

{% block main %}
<h1>Edit your item</h1>
<hr>
<table class="table table-striped" style="width:100%">
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Email</th>
        <th>Number</th>
    </tr>
    {% for row in edit %}
        <tr>
            <td>{{ row.product }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }}</td> 
            <td>{{ row.status }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.number }}</td>
        </tr>
</table>
<hr>
<form action="/product/{{ row.item_id }}" method="post">
    <div class="form-group" style="margin-bottom: 30px;">
        <label style="font-style: italic;" for="pduct">Product</label>
        <div class="input-group mb-3">
          <input autocomplete="off" class="form-control" id="pduct" name="product" placeholder="Product name" type="text">
        </div>
    <button class="btn btn-primary" type="submit">Update Product</button>
    </div>
</form>
<form action="/description/{{ row.item_id }}" method="post">
    <div class="form-group" style="margin-bottom: 30px;">
        <label style="font-style: italic;" for="descript">Description</label>
        <div class="input-group mb-3">
        <textarea autocomplete="off" class="form-control" id="descript" name="description" placeholder="Describe product in as much detail as possible" type="text"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Update Description</button>
    </div>
</form>
<form action="/price/{{ row.item_id }}" method="post">
    <div class="form-group" style="margin-bottom: 30px;">
        <label style="font-style: italic;" for="money">Price</label>
        <div class="input-group mb-3">
        <input autocomplete="off" class="form-control" id="money" name="price" placeholder="Price in USD" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Update Price</button>
    </div>
</form>
<form action="/status/{{ row.item_id }}" method="post">
    <div class="form-group" style="margin-bottom: 30px;">
        <label style="font-style: italic;" for="status">Status</label>
        <div class="input-group mb-3">
        <select class="custom-select" id="status" name="status">
            <option value="Available">Available</option>
            <option value="Pending">Pending</option>
        </select>
        </div>
        <button class="btn btn-primary" type="submit">Update Status</button>
    </div>
</form>
<form action="/email/{{ row.item_id }}" method="post">
    <div class="form-group" style="margin-bottom: 30px;">
        <label style="font-style: italic;" for="email">Email Address</label>
        <div class="input-group mb-3">
        <input autocomplete="off" class="form-control" id="contact" name="email" placeholder="Insert email address: example@email.com" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update Email Address</button>
    </div>
</form>
<form action="/number/{{ row.item_id }}" method="post">
    <div class="form-group" style="margin-bottom: 30px;">
        <label style="font-style: italic;" for="number">Phone Number</label>
        <div class="input-group mb-3">
        <input autocomplate="off" class="form-control" id="pnumber" name="number" placeholder="Insert phone number" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update Phone Number</button>
    </div>
</form>
    {% endfor %}
{% endblock %}