{% extends "layout.html" %}

{% block title %}
    Items
{% endblock %}

{% block main %}
<h1>My Items</h1>
<hr>
<table class="table table-hover" style="width:100%">
  <thead>
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
    {% for row in my_items %}
        <tr>
            <td>{{ row.product }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }}</td> 
            <td>{{ row.status }}</td>
            <td><a href="/edit/{{ row.item_id }}"><button type="button" class="btn btn-outline-dark">Edit</button></a></td>
            <td><a href="/delete/{{ row.item_id }}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}