{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h2>Uploaded Items</h2>
<hr>
<table class="table table-striped" style="width:100%">
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    {% for row in items %}
        <tr>
            <td>{{ row.product }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.status }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}