{% extends "layout.html" %}

{% block title %}
    Wishlist
{% endblock %}

{% block main %}
<h1>My Wishlist</h1>
<hr>
<table class="table table-hover" style="width:100%">
  <thead>
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Contact</th>
        <th></th>
    </tr>
  </thead>
    {% for row in wishlist %}
        <tr>
            <td>{{ row.product }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.status }}</td>
            <td><a href="/contact/{{ row.item_id }}"><button type="button" class="btn btn-outline-info">Contact Seller</button></a></td>
            <td><a href="/remove/{{ row.wishlist_id }}"><button type="button" class="btn btn-outline-danger">Remove</button></a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}